@{
    ViewBag.Title = "About";
}
<h2>Hola Mundo</h2>
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Prueba de cambios 2</p>

    <p>Prueba de cambios.</p>

</main>